.content-page {
  max-width: 1144px;
  margin: 0 auto;
}

.padding-default {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.header-di {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.links-header {
  display: flex;
}

.list-links-header {
  display: flex;
}

.list-header {
  list-style-type: none;
}

.list-links {
  padding: 0.5rem 1rem;
  color: #212832;
  text-decoration: none;
  font-size: .88rem;
}

.list-links:hover {
  transition: 0.15s;
  color: #f90;
}

.button {
  font-weight: 600;
  text-decoration: none;
  padding: 0.688rem 1.563rem;
  border-radius: 0.25rem;
  
}

.button:hover {
  transition: 0.15s;
}

.sign-in {
  color: #173a56;
  border: 0.0625rem solid #bcd0e5;
}

.sign-in:hover {
  color: #2F281E;
}

.sign-up {
  color: #fffefe;
  background-color: #f90;
  border-color: #f90;
  margin-left: 1rem !important;
}

.sign-up:hover {
  background-color: #cc7a00;
  border-color: #bf7300;
}

.register-or-enter {
  margin-left: 1.8rem !important;
}

.design-thinking {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}

.design-thinking-text {
  padding: 3rem 1rem;
}

.design-thinking-text, .design-thinking-image {
  width: 50%;
  overflow: hidden;
}

.design-thinking-image img {
  max-width: 100%;
}

.design-thinking-text h1 {
  font-size: 46px;
  font-weight: 700;
  color: #2F281E;
  line-height: 1.2;
  margin-bottom: 1.8rem;
}

.design-thinking-text p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #544837;
  line-height: 1.5;
  margin-bottom: 3rem !important;
}